.warnabiru{
	text-decoration: none;
	color: #4f70ce;
}
.warnabiruright{
  color: #4f70ce;
  text-align: right;
}
.mt-6 {
  margin-top: 4.7rem !important; }
.background-hitam
{

  background-color: #151515;
}
.btn-warnabiru {
	width: 100%;
  color: #fff;
  background-color: #4f70ce;
  border-color: #4f70ce;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); 
}
.btn-warnahijau {
	width: 100%;
  color: #fff;
  background-color: #23be0e;
  border-color: #23be0e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); 
}
.btn-warnamerah {
	width: 100%;
  color: #fff;
  background-color: #fa1c1c;
  border-color: #fa1c1c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); 
}
.colorlove{
  color: #fa1c1c;
}
.colorlove:hover{
  color: #000000;
}
.colorlovebefore{
  color: #000000;
}
.colorlovebefore:hover{
  color: #fa1c1c;
}
.margintopminus{
	margin-top: -55px;
}
.lihatrekomendasi{
  text-align: right;
	margin-top: -55px;
}
.marginbottomminus
{
  margin-bottom: -200px;
}
.wallogin{
	background-image: url("../image/loginwall.jpg");
	background-repeat: no-repeat, repeat;

}
.table-borderedoppacity {
  border: 1px
  solid #dee2e6;
  background-color: #ffffff;
  opacity: 2;
   }
 .textright{
 	margin-top: -10px;
 	text-align: right;
 }
 .textrights{
  text-align: right;
 }
 .textleft{
 	text-align: left;
 }
 .textcenter{
 	vertical-align: middle;
 	text-align: center;
 }
 .colorbintang{
 	color: yellow;
 }
 .lines{
 	border-top: 1px solid black;
 	height: 100%;
 	
 }
 .starcontainer{
  margin:15px;
  margin-top: -15px;
  padding: 15px;
 }
 .cardsview{
    padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); 
  border-radius: 0.25rem;}
 
 .formcard{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }
 .grouptext
 {
  width: 200px;
 }
 .img-fluids {
  max-width: 100%;
  height: 85%; }
  .mxnav{
   margin-left: 0.300rem !important; 
  }
  .imgProfile{
      padding: 0.25rem;
    background-color: #000000;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    max-width: 100%;
    height: 50%;
  }
  .cardfilter {
  padding: 0.25rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .form-groups {
  margin-bottom: 1rem; }
  .overflows{
    height: 100px;
    overflow-x: hidden; 
    overflow-y: scroll;
  }
  .colfilters{
     position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
  }
  .rowsafter{
    content: "";
    display: table;
    clear: both;
  }
  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

  