

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css">
  <link rel="stylesheet" href="/styles/custome.css" type="text/css">
  <title>Daftar Akun Sekarang !</title>
 </head>

 

<body>
    
  <div class="py-5  text-center" >
    <div class="container">
      <div class="row">
        <div class="py-5 ">
          <div class="center container">
            <div class="row">
              <div class="mx-5 col-md-4">
                <img class="d-block img-fluid my-3" src="\images\logo\newlogo.png"> 
                <h6 class="mb-1">Rekomendasi Anime Terbaik Hanya di Sirine</h6>
                <h6 class="mb-2">Gabung dan lihat Rekomendasinya !</h6>
                </div>
              <div class="col-md-6">
                <div class="mx-2">
                <div class="container table-bordered">
                  <div class="card-body">
                      <% if(flash && flash.err) { %>
                        <p class="alert alert-success">
                      <% Object.keys(flash.err).forEach(function(error) { %>
                        <%- JSON.stringify(flash.err[error]) %></p>
                      <% }) %>
                      
                      <% } %>
                    <h1 class="mb-2">Daftar Sekarang</h1>
                    <h6 class="mb-3">Sudah memiliki akun ?
                      <a href="\login" class="warnabiru">
                        <u>
                          <b>Masuk</b>
                        </u>
                      </a>
                    </h6>
                   
                    <form method="post" action="/user/create">
                     
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" required> </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="nama" placeholder="Nama Lengkap" required> </div>
                      <div class="form-group">
                        <input type="number" class="form-control" name="no_hp" placeholder="Nomor Ponsel" required> </div>
                      <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Kata Sandi" required> </div>
                        
                        <button type="submit" class="btn btn-warnabiru">Daftar Sekarang !</button>
                    </form>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
  
</body>

