<form action="/genre/create" method="post">
    Id genre : <input type="text" name="id_genre"><br>
    nama : <input type="text" name="nama_genre"><br>
    
    <input type="submit" value="Simpan">
</form>