<form action="/genre_list/create" method="post">
    Id anime : <input type="text" name="id_anime"><br>
    id_genre : <input type="text" name="id_genre"><br>
    
    <input type="submit" value="Simpan">
</form>