<form action="/rating/tambahRating" method="post">
    Id user : <input type="text" name="id_user"><br>
    id anime : <input type="text" name="id_anime"><br>
    Score : <input type="text" name="score"><br>
    
    <input type="submit" value="Simpan">
</form>