<form action="/user/create" method="post">
    Id user : <input type="text" name="id_user"><br>
    email : <input type="text" name="email"><br>
    password : <input type="text" name="password"><br>
    nama : <input type="text" name="nama"><br>
    tgl_lahir : <input type="text" name="tgl_lahir"><br>
    no_hp : <input type="text" name="no_hp"><br>
    <input type="submit" value="Simpan">
</form>