<form action="/anime/editAnime" method="post">
    Id Anime : <input type="text" name="id_anime"><br>
    nama : <input type="text" name="nama_anime"><br>
    status : <input type="text" name="status"><br>
    url english : <input type="text" name="url_anime_english"><br>
    url_indo : <input type="text" name="url_anime_indo"><br>
    <input type="submit" value="Simpan">
</form>